
StorytellersAPI/.idea/

StorytellersAPI/__pycache__/

StorytellersAPI/Resources/__pycache__/

StorytellersAPI/common/__pycache__/

StorytellersAPI/Services/__pycache__/

StorytellersAPI/Services/instance/config.py
